* {
  margin: 0;
  padding: 0;
  list-style: 0;
  -webkit-touch-callout: none;
  box-sizing: border-box;
  font-size: var(--el-font-size-base);
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--el-background-color-base);
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
}
